#first-lander {
    height: 100vh;
    overflow: hidden;
}

figure.col {
    margin: 0;
    padding: 0 !important;
}

figure.col > img {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    padding: 0;
    width: 100%;
}
