@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

.about {
    margin: 0 17.5rem;
}

.about-title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 2rem 0;
}

.about-p {
    font-family: 'Lato', sans-serif !important;
    margin: 1rem 0 2rem 0 !important;
}
