@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

.navbar-fixed {
    font-family: 'Raleway', sans-serif;
}

.brand-logo {
    height: 4rem;
    margin: 0 0 0 4rem;
}

li {
    cursor: pointer;
}

.support {
    background-color: #36213e;
    color: #8ac6d0 !important;
    width: 12rem;
}

.support:hover {
    background-color: #36213e;
    opacity: 0.9 !important;
}

.nav-wrapper {
    background-color: #8ac6d0 !important;
}

.dropdown-content {
    background-color: #8ac6d0 !important;
}

#nav-text {
    color: #36213e;
}
