.brand-logo {
    height: 4rem;
    margin: 0 0 0 4rem;
}

ul.right {
    margin: 0 4rem 0 0 !important;
}

.nav-wrapper {
    background-color: #8ac6d0 !important;
}

.dropdown-content {
    background-color: #8ac6d0 !important;
}

#nav-text {
    color: #36213e;
}
