@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

#staff {
    margin: 0 0 7.5rem 0;
}

.staff-title {
    font-family: 'Raleway', sans-serif !important;
}

#staff-card {
    cursor: pointer;
    color: #36213e;
    margin: 1rem 0 ;
}

#staff-card:hover {
    color: #8ac6d0 !important;
}

.card-content.center {
    transition: color 0.25s ease;
}
