@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

#staff {
    background-color: #f1f1f1;
    margin: 0;
}

.staff-title {
    font-family: 'Raleway', sans-serif !important;
    margin: 0;
    padding: 2rem 0 1rem 0;
}

.staff-grid-p {
    font-family: 'Lato', sans-serif !important;
    margin: 0 0 1rem 0;
    padding: 0 20rem;
}

#staff-card {
    cursor: pointer;
    color: #36213e;
    margin: 1rem 0 ;
}

#staff-card:hover {
    color: #8ac6d0 !important;
}

.card-content.center {
    transition: color 0.25s ease;
}

.staff-card-name {
    font-family: 'Raleway', sans-serif !important;
    margin: 0;
}

.staff-card-title {
    color: #A9A9A9;
    font-family: 'Lato', sans-serif !important;
    font-size: 0.9em;
    margin: 0.1em 0 0 0;
}
