.page-footer {
    margin: 0 !important;
}

.footer {
    padding: 0 0 2rem 0;
}

.twitter {
    padding: 2rem 0 0 2rem;
}

.twitter > svg {
    fill: #1da1f2;
}

.footer-title {
    font-family: 'Raleway', sans-serif !important;
    padding: 1rem 0 0 2rem;
}

.footer-mail > a {
    color: #A9A9A9;
    font-family: 'Lato', sans-serif !important;
    padding: 0 0 0 2rem;
}
