@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

/* #sib_embed_signup {
    margin: 7.5rem 0 0 0;
} */

.title {
    font-family: 'Raleway', sans-serif;
}

.lbl-tinyltr {
    font-family: 'Raleway', sans-serif;
}

span {
    color: red;
}

.waves-effect {
    background-color: #8ac6d0 !important;
    color: #36213e !important;
    font-family: 'Lato', sans-serif;
}

#contact {
    margin: 7.5rem 0 0 0;
}

h4, p {
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 1.25rem;
    margin: 0;
}

.staff-member {
    margin: 0 0 5rem 0;
}
