.board-title {
    margin: 2rem 1rem !important;
}

#board-card {
    cursor: pointer;
    margin: 1rem 0 ;
}

#board-card:hover {
    color: red;
}

.card-content.center {
    transition: color 0.25s ease;
}
