.board-title {
    margin: 2rem 1rem !important;
}

#board-card {
    margin: 1rem 0 ;
}

img.circle {
    cursor: pointer;
}

img.circle.responsive-img:hover + .card-content.center {
    color: red !important;
}

.card-content.center {
    transition: color 0.5s ease;
}
