@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

#leadership {
    margin: 0 0 5rem 0;
}

.board-title {
    font-family: 'Raleway', sans-serif;
    margin: 0 0 2rem 0;
}

#board-card {
    cursor: pointer;
    margin: 1rem 0;
}

#board-card:hover {
    color: #8ac6d0 !important;
}

.card-content.center {
    transition: color 0.25s ease;
}
